.swiper-pagination-current,
.swiper-pagination-total {
  font-weight: 600;
  font-size: 0.65644rem;
  color: #ffffff;
}
.swiper-pagination-fraction {
  margin-left: 1.25rem;
  margin-bottom: 2.81rem;
  display: flex;
  align-items: center;
}
.swiper-pagination-fraction svg {
  margin: 0 0.31rem;
}

@media (min-width: 480px) {
  .swiper-pagination-current,
  .swiper-pagination-total {
    font-size: 0.875rem;
  }
}
